
.container1_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 93vh;
    min-width: 100vw;
    margin-top: 80px;
    background-image: linear-gradient(to top, #fac8cb, #f8c2c1);
}

.cover_image2 {
    background-size: contain;
    background-position: center;
    height: 550px;
}

.serv_home_img {
    display: flex;
}

@media(max-width :950px) {

    .button_back_remov {
        background: none !important;
    }

}

.book_now_home {
    background-image: linear-gradient(to right, #fc7cab, #fea3c6);
}

.home_head1 {
    padding: 100px;
    min-width: 100%;
}

.contact_head h4 {
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 1px;
}

@media (max-width: 400px) {

    .contact_head h4 {
        font-size: 20px;
    }

    .contact_head p {
        font-size: 13px;
        font-weight: 500;
    }

    .form1_contact {
        max-width: 200px !important;
    }

    .contact_inner_cont2 {
        width: 85% !important;
    }
    
}

@media (max-width: 650px) {
    .serv_home_img {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .section_home4 {
        padding: 100px 50px !important;
    }

    .cover_image2 {
        height: 380px;
    }
}

@media (max-width: 480px) {
    .section_home3_inner2 {
        flex-direction: column;
    }
}

@media (max-width: 950px) {
    /* .book_now_home {
        background: #f44336 !important;
    } */
}

@media (max-width: 1125px) {
    .container1_home {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 100px;
        /* align-items: center;
        justify-content: center; */
        gap: 50px;
    } 

    .img_container1 {
        flex-direction: column;
    }

    .section_home2 {
        padding: 50px;
        text-align: justify;
    }

    .text_box {
        margin-top: 0;
        text-align: center;
    }

    .section2_home {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .section_home3 {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .section_inner_cont01 {
        margin-top: 0px !important;
    }

    .testim .cont > div {
        flex-direction: column;
        gap: 50px;
    }


    .prof_home {
        min-height: 250px !important;
    }
}

@media (max-height: 630px) {
    .container1_home {
        min-height: 100vh;
    }
}

.section2_home {
    background-image: linear-gradient(to bottom, #fac8cb, #f5e1e1);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.home_cover1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_img1 {
    width: 300px;
}

.home_head1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home_btn1 {
    margin-top: 10px;
    background-image: linear-gradient(to right, #fc80ad, #f8c2c1);
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 8px;
    color: black;
}

.section_home2 {
    overflow: hidden;
    width: 100%;
    min-height: 86vh;
    background-image: linear-gradient(to bottom, #f5e1e1, #faf1f1);
}

.img_wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_img_port{
    width: 200px;
    max-height: 250px;
}

.active_nav:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}


.img_container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 80%;
}

.home_head2 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
}

.section_home3 {
    min-height: 90vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom, #faf1f1, #d8d2d2);
}

.home_head3 {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: 1px;
}

.home_head3 span {
    font-weight: 500;
}

.home_img2 {
    width: 300px;
}

.img_inner_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_home3_inner2 {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.section_inner_cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section_inner_cont01 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.prof_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 220px;
    gap: 10px;
    padding: 30px;
    width: 190px;
    border-radius: 9px;
    background: #f8e2ed;
    /* background-image: linear-gradient(to bottom, #faf1f1, #d8d2d2); */
}

.p_home_head {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}

.justify_p {
    font-size: 12px;
    text-align: justify;
}

.img_home_icon{ 
    width: 50px;
}

.section_home4 {
    overflow: hidden;
    min-height: 86vh;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #d8d2d2, #d8d2d2);
}

/* testimonial */

@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);


/* .testim {
		width: 100%;
		position: absolute;
		top: 50%;
		-webkit-transform: translatey(-50%);
		-moz-transform: translatey(-50%);
		-ms-transform: translatey(-50%);
		-o-transform: translatey(-50%);
		transform: translatey(-50%);
} */

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}


.testim .arrow {
    display: block;
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 2222;
}

.testim .arrow:before {
		cursor: pointer;
}

.testim .arrow:hover {
    color: black;
}
    

.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
		height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
		position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #f95396;
    border-color: #f95396;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
	overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
    display: flex;
    padding: 50px;
}

.test_par_cont {
    /* background: whitesmoke;
    padding: 10px; */
    display: flex;
    flex-direction: column;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.testim .cont div h2 {
    color: #f95396;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: black;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

/* @-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
} */

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
	body {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}

.section_home5 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 100px 150px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #d8d2d2, #f1ecec);
}

.portfolio_container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 100%;
    max-height: 70%;
}

@media (max-width: 920px) {
    .portfolio_container {
        flex-direction: column;
    }

    .port_cont1 {
        flex-direction: row !important;
    }

    .port_cont3 {
        flex-direction: row !important;
    }

    .port_img2 {
        max-width: 415px !important;
    }

    .port_img3 {
        min-width: 200px !important;
    }
}

@media (max-width: 1350px) {
    .contact_inner_cont2 {
        width: 75%;
    }
}


@media(max-width: 1100px) {
    .container_contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 600px;
        gap: 40px;
    }

    .contact_inner_cont2_wrapper {
        width: 100%;
        margin-bottom: 100px;
    }

    .contact_inner_cont2 {
        width: 60%;
    }

    .contact_us_footer {
        padding-bottom: 100px;
    }

    .contact_inner_cont {
        margin-top: 100px;
        width: 100%;
    }

    nav {
        padding: 0px 20px;
    }

    .form1_contact {
        max-width: 290px;
    }

    .contact_inner_cont2 {
        width: 60% !important;
    }

}

@media (max-width: 700px) {
    .section_home5 {
        padding: 100px 50px;
    }

    .testim .cont div .img img {
        width: 130px;
        height: 130px;
    }

    .testim .cont div p {
        line-height: 15px;
    }

    .testim .cont div p {
        font-size: 1em;
    }
}

@media (max-width: 580px) {
    .container_contact {
        width: 100%;
        border-radius: 15px;
    }

    .home_head1 {
        padding: 45px;
    }

    .contact_inner_cont2 {
        width: 85% !important;
    }
}

@media (max-width: 500px) {
    .port_img2 {
        object-position: 43% !important;
        max-width: 320px !important;
    }

    .port_img1 {
        max-width: 152px !important;
    }

    .port_img3 {
        min-width: 152px !important;
        max-width: 152px !important;
    }

    .testim .cont div h2 {
        font-size: 0.8em;
    }

    .testim .cont div p {
        font-size: 0.7em;
    }
}


.port_cont1{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.port_cont2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.port_cont3{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.port_img1 {
    max-width: 200px;
    max-height: 30vh;
    min-height: 30vh;
    object-fit: cover;
    object-position: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.port_img2 {
    max-width: 400px;
    max-height: 70vh;
    min-height: 62vh;
    object-fit: cover;
    object-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.port_img3 {
    max-width: 200px;
    max-height: 30vh;
    min-height: 30vh;
    object-fit: cover;
    object-position: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.section_home6{
    min-height: 86vh;
    overflow: hidden;
}


.about_us_cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container1_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 93vh;
    min-width: 100vw;
    margin-top: 80px;
    background-image: linear-gradient(to top, #fac8cb, #f8c2c1);
}

@media (max-width: 1125px) {
    .container1_about {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 100px;
        /* align-items: center;
        justify-content: center; */
        gap: 50px;
    } 
}

@media (max-height: 630px) {
    .container1_about {
        min-height: 100vh;
    }
}

.about_p {
    position: absolute;
    padding: 40px;
    max-width: 55vw;
    left: 3vw;
    top: 48vh;
    text-align: justify;
}

.text_box_about {
    width: 100%;
    color: #112f65;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
}

.text_box_about h1{
    position: absolute;
    left: 6vw;
    top: 45vh;
    font-weight: 700;
    font-size: 40px;
}

.cover_image_about {
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 35%;
    background: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

@media(max-width: 1600px) {
    .cover_image_about {
        background-size: contain;
    }
}

@media (max-width: 1125px) {
    .about_p {
        position: initial;
    }

    .text_box_about h1 {
        position: initial;
    }

    .cover_image_about{
        height: 75vh;
        background-size: 45%;
    }

    .about_p {
        max-width: 80vw;
    }
}

@media (max-width: 950px) {
    .text_box_about h1{
        font-size: 45px;
    } 


    @media (max-width: 700px) {
        .text_box_about h1{
            font-size: 25px;
        }
    }
}

@media (max-width: 1125px) {
    .text_box_about {
        margin-top: 100px;
    }
}

